btop/
JetBrains/
bin/.webui_secret_key
fish/fish_variables
user-dirs.dirs
user-dirs.locale
gtk-3.0/
chromium/
Code - OSS/
matplotlib/
menus/
dconf/
pulse/
systemd/
go/
yay/
.webui_secret_key
GIMP/
QtProject.conf
Ultralytics/
mimeapps.list
nordvpn/
qBittorrent/
qt6ct/
uv/
